name: Rust CI

on:
  push:
    branches:
      - dev
      - dev-0.1
  pull_request:
    branches:
      - dev
      - dev-0.1

jobs:
    test:
        runs-on: ubuntu-latest
        
        steps:
        # 1. Clonar repositorio
            - name: Checkout code
              uses: actions/checkout@v2

        # 2. Configurar Rust
            - name: Set up Rust
              uses: actions-rs/toolchain@v1
              with:
                toolchain: stable

        # 3. Compilar poryecto
            - name: Build project
              run: cargo build
        
        # 4. Ejecutar pruebas basadas en archivos .yaml provistos por la catedra
            - name: Run YAML-based tests
              run: |
                for file  in ./tests/yaml/*.yaml; do
                    echo "Running test for $file"
                    ./run_yaml_test.sh "$file" ||  exit 1
                    done